<nav class="nav justify-content-end" style="background-color: #c4c4c4;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="http://github.com">GitHub</a>
        </li>
    </ul>
</nav>

{{outlet}}